.container {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.song {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #9147ff;
}

.button {
  background-color: #9147ff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #772ce8;
}
