.container {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.song {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ff4081;
}

.button {
  background-color: #ff4081;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #e60073;
}

.saveButton {
  background-color: #1db954;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.saveButton:hover {
  background-color: #1aa34a;
}
